[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "puppet/modules/ruby"]
	path = puppet/modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/r10k"]
	path = puppet/modules/r10k
	url = https://github.com/acidprime/r10k.git
